# Main workflow with Ubuntu as target os
name: Main-Ubuntu

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-prove:
    name: Build and prove the Spark_Unbound crate
    runs-on: ubuntu-latest

    steps:
      # Checks-out repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
      
      - uses: ada-actions/toolchain@ce2021
        with:
          distrib: community
          
      - uses: alire-project/setup-alire@latest-stable

      - name: Disable toolchain assistant
        run: alr toolchain --disable-assistant
        
      - name: Set alr toolchain
        run: alr toolchain --select gnat_external
      
      - name: Alire build
        run: alr build

#      - name: Run GNATprove
 #       run: gnatprove -Pspark_unbound.gpr --level=4 --proof-warnings


  test:
    name: Run tests for the Spark_Unbound crate
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          path: '..'
      
      - uses: ada-actions/toolchain@ce2021
        with:
          distrib: community
          
      - uses: alire-project/setup-alire@latest-stable
      
      - name: Where are we?
        run: pwd

      - name: Disable toolchain assistant
        run: alr toolchain --disable-assistant
        
      - name: Set alr toolchain
        run: alr toolchain --select gnat_external
      
      - name: Alire build
        run: alr build
          
      - name: Run tests
        run: alr run
