# Runs all tests for Spark_Unbound
name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      TEST_DIR: tests
      RESULT_FILE: results.txt
      FAILURE_CNT: failures.txt
      UNEXPECTED_CNT: unexpected.txt

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - uses: ada-actions/toolchain@ce2021
        with:
          distrib: community
          
      - uses: alire-project/setup-alire@latest-stable

      - name: Set alr toolchain 
        run: |
          cd $TEST_DIR
          alr toolchain --disable-assistant
          alr toolchain --select gnat_external
      
      - name: Alire build
        run: |
          cd $TEST_DIR
          alr build
      
      # Run tests and write result to results.txt
      - name: Run tests
        run: |
          cd $TEST_DIR
          alr run | tee $RESULT_FILE

      # Needed analysis to fail action on failed tests
      - name: Analyse results
        run: |
          cd $TEST_DIR
          cat $RESULT_FILE;
          sed -e '/Failed Assertions: /!d;  s/Failed Assertions: //' $RESULT_FILE | grep '^[^0]' -c > $FAILURE_CNT
          sed -e '/Unexpected Errors: /!d;  s/Unexpected Errors: //' $RESULT_FILE | grep '^[^0]' -c > $UNEXPECTED_CNT
          python test_validation.py $FAILURE_CNT $UNEXPECTED_CNT
             
